.song-content {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    touch-action: pan-y pinch-zoom;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
